In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
csv = "C:\DI_Bootcamp\Week3\Day1\orders.csv"

df = pd.read_csv(csv)

In [9]:
df.columns

Index(['OrderID', 'CustomerName', 'Product', 'Category', 'Quantity', 'Price',
       'OrderDate', 'Shipped', 'Country'],
      dtype='object')

In [17]:
df.iloc[10]["Shipped"]

'Yes'

In [18]:
df.head()

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
2,1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE
3,1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,Singapore
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico

In [22]:
df[(df["Category"] == "Electronics") & (df["Country"] == "USA")]

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA

In [23]:
df[(df["Category"] == "Electronics") | (df["Country"] == "USA")]

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico
7,1008,James Park,Monitor,Electronics,2,220.0,2024-06-09,No,South Korea
9,1010,Takeshi Nakamura,Mouse,Electronics,1,35.0,2024-06-11,Yes,Japan
10,1011,Sophie Martin,Webcam,Electronics,1,85.0,2024-06-12,Yes,France
13,1014,Diego Rodriguez,USB Drive,Electronics,5,25.0,2024-06-15,Yes,Spain
16,1017,Anna Kowalski,Wireless Mouse,Electronics,2,45.0,2024-06-18,Yes,Poland
17,1018,Michael Brown,Desk Organizer,Furniture,1,65.0,2024-06-19,No,USA
18,1019,Yuki Tanaka,Calculator,Electronics,1,15.0,2024-06-20,Yes,Japan
21,1022,Isabella Silva,Bluetooth Speaker,Electronics,1,95.0,2024-06-23,Yes,Brazil
24,1025,Lucas Anderson,Tablet Stand,Electronics,1,28.0,2024-06-26,Yes,Sweden
25,1026,Chloe Dubois,Paper Shredder,Electronics,1,75.0,2024-06-27,Yes,France
28,1029,Seo-yeon Kim,Wireless Keyboard,Electronics,1,110.0,2024-06-30,Yes,South Korea
30,1031,Amira Hassan,USB Hub,Electronics,1,32.0,2024-07-02,Yes,Morocco
31,1032,Thomas Müller,Document Scanner,Electronics,1,140.0,2024-07-03,Yes,Germany
33,1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA
34,1035,Yuki Yamamoto,Monitor Stand,Electronics,1,55.0,2024-07-06,Yes,Japan
36,1037,Carlos Santos,Wireless Earbuds,Electronics,1,125.0,2024-07-08,Yes,Portugal
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea

In [25]:
df[df["Quantity"] > 2]

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
3,1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,Singapore
5,1006,Nora Ibrahim,Notebook,Stationery,5,5.0,2024-06-07,Yes,UAE
8,1009,Maria Rossi,Pen,Stationery,10,1.5,2024-06-10,Yes,Italy
12,1013,Emma Wilson,Stapler,Stationery,3,12.0,2024-06-14,Yes,Australia
13,1014,Diego Rodriguez,USB Drive,Electronics,5,25.0,2024-06-15,Yes,Spain
15,1016,Ahmed Hassan,Printer Paper,Stationery,20,8.0,2024-06-17,Yes,Egypt
20,1021,David Thompson,Highlighters,Stationery,8,3.5,2024-06-22,No,Canada
23,1024,Zara Ahmed,Sticky Notes,Stationery,15,4.0,2024-06-25,No,Pakistan
27,1028,Nina Petrov,Binder Clips,Stationery,12,2.5,2024-06-29,Yes,Russia
33,1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA

In [29]:
df[df["Country"].isin(["USA", "Mexico", "Japan"])]

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico
9,1010,Takeshi Nakamura,Mouse,Electronics,1,35.0,2024-06-11,Yes,Japan
17,1018,Michael Brown,Desk Organizer,Furniture,1,65.0,2024-06-19,No,USA
18,1019,Yuki Tanaka,Calculator,Electronics,1,15.0,2024-06-20,Yes,Japan
33,1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA
34,1035,Yuki Yamamoto,Monitor Stand,Electronics,1,55.0,2024-07-06,Yes,Japan

In [42]:
df.loc[df["Country"] == "USA"] = "United States"

C:\Users\leibn\AppData\Local\Temp\ipykernel_25732\1382118037.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'United States' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df["Country"] == "USA"] = "United States"
C:\Users\leibn\AppData\Local\Temp\ipykernel_25732\1382118037.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'United States' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df["Country"] == "USA"] = "United States"
C:\Users\leibn\AppData\Local\Temp\ipykernel_25732\1382118037.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'United States' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df["Country"] == "USA"] = "United States"

In [47]:
df["Country"] = df["Country"].str.upper()

In [48]:
df["Country"]

0     UNITED STATES
1            CANADA
2               UAE
3         SINGAPORE
4            MEXICO
5               UAE
6                UK
7       SOUTH KOREA
8             ITALY
9             JAPAN
10           FRANCE
11            INDIA
12        AUSTRALIA
13            SPAIN
14            CHINA
15            EGYPT
16           POLAND
17    UNITED STATES
18            JAPAN
19     SAUDI ARABIA
20           CANADA
21           BRAZIL
22          GERMANY
23         PAKISTAN
24           SWEDEN
25           FRANCE
26        ARGENTINA
27           RUSSIA
28      SOUTH KOREA
29            ITALY
30          MOROCCO
31          GERMANY
32         COLOMBIA
33    UNITED STATES
34            JAPAN
35               UK
36         PORTUGAL
37             IRAN
38      SOUTH KOREA
39          UKRAINE
Name: Country, dtype: object

In [53]:
df.rename(columns={"OrderID": "Order ID"}, inplace=True)

In [55]:
df.groupby("Country")["Price"].sum()

Country
ARGENTINA                                           22.0
AUSTRALIA                                           12.0
BRAZIL                                              95.0
CANADA                                             153.5
CHINA                                              280.0
COLOMBIA                                            42.0
EGYPT                                                8.0
FRANCE                                             160.0
GERMANY                                            175.0
INDIA                                              180.0
IRAN                                                28.0
ITALY                                               19.5
JAPAN                                              105.0
MEXICO                                              80.0
MOROCCO                                             32.0
PAKISTAN                                             4.0
POLAND                                              45.0
PORTUGAL                                           125.0
RUSSIA                                               2.5
SAUDI ARABIA                                       120.0
SINGAPORE                                           45.0
SOUTH KOREA                                        348.0
SPAIN                                               25.0
SWEDEN                                              28.0
UAE                                                305.0
UK                                                 518.0
UNITED STATES    United StatesUnited StatesUnited States
Name: Price, dtype: object