## Exercise 1
1. Structured
2. Unstructured
3. Structured
4. Structured
5. Unstructured

## Exercise 2
1. json, access blog for each person 
2. excel
3. excel
4. json

## Exercise 3

In [5]:
import pandas as pd
import numpy as np

file_path = r"C:\Users\leibn\Downloads\train\train.csv"
data = pd.read_csv(file_path)
df = pd.DataFrame(data)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Exercise 4

In [ ]:
import pandas as pd
import numpy as np

iris_data = pd.read_csv(r"C:\Users\leibn\Downloads\Iris_dataset (1)\Iris_dataset.csv")
iris_df = pd.DataFrame(iris_data)
iris_df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [8]:
import pandas as pd

sample_data = pd.read_json(r"C:\Users\leibn\Downloads\posts (1)\posts.json")

sample_df =  pd.DataFrame(sample_data)
sample_df.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...